{
  "token": "bot token here",
  "client_id": "bot client ID here",
  "prefix": "bot prefix",
  "log_channel": "",
  "guild_id": "",
  "trn_api_key": "your TRN API key here",
  "roles": {
    "pc": "",
    "ps4": "",
    "xbox": "",
    "tier1": "",
    "tier2": "",
    "tier3":  "",
    "tier4": "",
    "tier5": ""
  }
}